# Directories
origami/branches

# Cluster
smatter

# Generated data
*.dat
*.gz
*.txt

# Images/media
*.gif
*.mp4
*.pdf
*.pdf_tex
*.png
*.svg

# Python
__pycache__/
*.py[cod]
*$py.class

# Binaries
*.so
4bar/4bar_met
5bar/5bar_met
trimer/trimer_met
origami/origami_met
origami/free_sing
tests/utils
tests/test_triinter
