# Directories
origami/branches

# Cluster
smatter

# Mathematica
*.nb

# Generated data
*.dat
*.txt

# Images/media
*.gif
*.mp4
*.pdf
*.pdf_tex
*.png
*.svg

# Python
__pycache__/
*.py[cod]
*$py.class

# Binaries
*.so
4bar/4bar_met
origami/origami_met
origami/free_sing
rotor/rotor_met
tests/utils
tests/test_triinter
